 =======================================================================
Kane - Responsive App Landing Page 1.7
======================================================================= */

/* --------------------------------------
=========================================
GLOBAL STYLES
=========================================
-----------------------------------------*/

html {
    font-size: 100%;
}

body {
    background: #232323;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #313131;
    line-height: 28px;
    text-align: center;
    overflow-x: hidden !important;
    margin: auto !important;
}


/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

a {
    -webkit-transition: all ease 0.25s;
            transition: all ease 0.25s;
}

a:hover {
    text-decoration: none;
    color: #d7df23
}

.btn:focus,
.btn:active {
    outline: inherit;
}


/* Other fixes*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
            box-sizing: border-box;
}

ul,
ol {
    padding-left: 0; /*!important*/
}

li {
    list-style: none;
}

.row.no-padding {
  margin-left: 0;
  margin-right: 0;
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.row.no-padding div[class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* PRE LOADER */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.status {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    /*background-image: url(../images/loading.gif);*/
    background-image: url(../images/a_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
    margin: -20px 0 0 -20px;

    animation: fadeIn 0.75s infinite alternate;
}

@keyframes fadeIn {
  from { opacity: 0; }
}


.owl-theme .owl-controls .owl-page span {
  border-radius: 50%;
}

.owl-theme .owl-controls .owl-page.active span {
  background: #d7df23;
}

/*---------------------------------------
   Typography
-----------------------------------------*/

/* FONT FACE LOADER */
/*@font-face {
    font-family: 'Lane';
    src: url('../fonts/lanenar_Lane.eot');
    src: url('../fonts/lanenar_Lane.eot?#iefix') format('embedded-opentype'), url('../fonts/lanenar_Lane.woff') format('woff'), url('../fonts/lanenar_Lane.ttf') format('truetype'), url('../fonts/lanenar_Lane.svg#Lane') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

    @font-face {
        font-family: 'Lane';
        src: url('../fonts/lanenar_Lane.svg#Lane') format('svg');
    }
}*/

/* HEADINGS */

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 3.75rem;
    line-height: 4.688rem;
}

h2 {
    font-size: 3.125rem;
    line-height: 4.063rem;
}

h3 {
    font-size: 24px;
    line-height: 38px;
    font-weight: 300;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

h5 {
    font-size: 18px;
    font-weight: 300;
}

/*---------------------------------------
   CUSTOM BUTTON
-----------------------------------------*/

.standard-button,
.standard-button2 {
    font-size: 18px;
    font-weight: 400 !important;
    border-radius: 4px !important;
    text-shadow: 0 !important;
    color: #ffffff;
    min-width: 150px;
    border: none;
    padding: 16px 25px 16px 25px;
    margin: 5px;
    -webkit-transition: all ease 0.25s;
            transition: all ease 0.25s;
}

.standard-button:hover,
.standard-button2:hover {
    border: none;
}

.standard-button i,
.standard-button2 i {
    vertical-align: inherit;
    margin-right: 8px;
    font-size: 20px;
}


/*---------------------------------------
   TEXTS
-----------------------------------------*/

.white-text {
    color: #ffffff;
}

.dark-text {
    color: #272727;
}

.white-bg {
    background: #fff !important;
}

.grey-bg {
    background: #F7F8FA !important;
}


/*---------------------------------------
   SECTIONS
-----------------------------------------*/

.section-header {
    padding-bottom: 78px;
}

.section-header h2 {
    margin-bottom: 20px;
}

.section-header .section-description {
    display: inline-block;
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*---------------------------------------
   LINES
-----------------------------------------*/

.colored-line {
    margin: auto;
    z-index: 1;
    width: 165px;
    height: 1px;
}

.white-line {
    margin: auto;
    z-index: 1;
    width: 165px;
    height: 1px;
    background: #ffffff;
}

.colored-line-left {
    float: left;
    z-index: 1;
    display: block;
    width: 165px;
    height: 1px;
}

.heading-separator {
  color: #fff;
  background: #000;
  padding: 5px 0;
}

.heading-separator.bright {
  color: #000;
  background: #d7df23;
}

.heading-separator h2 {
  text-transform: uppercase;
  font-size: 28px;
  line-height: 30px;
  font-weight: 300;
}

.heading-separator h2.solo {
  padding: 15px 0 20px;
}

.heading-separator.bright h2 {
  padding-bottom: 5px;
}


.heading-separator p {
  color: #d7df23;
}

.arrow {
  background: url(../images/arrow-down-black.png) no-repeat center top;
  height: 38px;
}

.arrow.white {
  background: url(../images/arrow-down-white.png) no-repeat center top;
}

.arrow.bright {
  background: url(../images/arrow-down-bright.png) no-repeat center top;
}


/*---------------------------------------
=========================================
 **   SECTION STYLES
=========================================
-----------------------------------------*/

/*---------------------------------------
   SECTION:  HOME
-----------------------------------------*/

#video_background {
  top: 80px!important;
}

header .color-overlay {
    /*min-height: 900px;*/
    padding-top: 80px;
    min-height: 630px;
}

header .full-screen {
    width: 100%;
    height: 100px;
}

/* TOP BAR WITH NAVIGATION */

.navbar-fixed-top {
  min-height: 80px;
  background: #FFFFFF;
  border: none;
  padding: 0 !important;
  margin-bottom: 0 !important;
  -webkit-backface-visibility: hidden;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
          box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
}

.navbar-brand {
  line-height: 38px;
  height: auto;
}

.navbar-fixed-top .navbar-header img {
  max-height: 30px;
  -webkit-backface-visibility: hidden;
}

.navbar-fixed-top .main-navigation .current a {
  color: #000000 !important;
  position: relative;
  outline: none;
}

.navbar-fixed-top .main-navigation li a {
  line-height: 45px;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
}

.navbar-fixed-top .main-navigation li a:hover {
    color: #000000;
}

.navbar-fixed-top .main-navigation li.icon a {
  font-size: 30px;
  padding-right: 0;
}

.navbar-fixed-top .main-navigation li.icon a:hover,
.navbar-fixed-top .main-navigation li.icon a:focus {
  background: none;
  opacity: 0.5;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
       /*opacity: 1;*/
}

.navbar-toggle {
  background: #fff;
  border: #333;
  padding-top: 20px;
}

.icon-bar {
  background-color: #000;
}

.navbar-inverse .navbar-toggle {
  border-color: #d7df23;
  background: #fff;
}

header .only-logo .navbar {
    background: none;
    padding: 60px;
}

header .only-logo .navbar .navbar-header {
    float: none;
}

/* INTRO */


header #intro-statements {
  /*width: 760px;*/
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.55);
  margin-top: 185px;
  margin-bottom: 185px;
  padding-bottom: 5px;
}


header .intro-statement {
  padding-top: 35px;
}

header .intro-statement .message {
  text-transform: uppercase;
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  line-height: 50px;
  margin-bottom: 20px;
}

header .intro-statement .hashtag {
  color: #d7df23;
  font-size: 24px;
  font-weight: 200px;
  margin-bottom: 20px;
}

@media (min-width: 320px) and (max-width: 640px) {
  header #intro-statements {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    background: none;
  }

  header .color-overlay {
    min-height: 0 !important;
  }

}

/*---------------------------------------
   SECTION:  SIGNUP
-----------------------------------------*/

#signup {
  /*  HACK FOR ANCHOR (http://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header) */
  padding-top: 75px; 
  margin-top: -75px;
}


.signup {
  background: rgb(250, 251, 241) url(../images/signup-bg.jpg) no-repeat bottom right;
  padding-bottom: 200px;
  text-align: center;
}

.signup > .container > .row {
  padding-top: 30px;
}

.signup h4 {
  padding: 10px;
  margin-top: 0;
  font-weight: bold;
}

.signup .form-control {
  border: 1px solid #000;
  color: #000;
}

.signup .subscription-success,
.signup .subscription-error {
  display: none;
  border: 1px solid #d7df23;
  background: rgba(255, 255, 255, 0.5);
  padding-bottom: 15px;
}

.signup .subscription-success h4,
.signup .subscription-error h4 {
  background-color: #000;
  color: #fff;
}

.signup .subscription-success .content,
.signup .subscription-error .content {
  padding: 15px;
}

.signup .subscription-success .content p,
.signup .subscription-error .content p {
  /*margin-left: 30px;*/
}

.signup .subscription-error {
  background-color: #d7df23;
  color: red;
  padding: 15px;
  margin-bottom: 15px;
}

.signup #subscribe-button {
  width: 100%;
  font-weight: bold;
  color: #000;
  text-align: center;
  background: url(../images/btn-sign-bg.png) repeat-y top right;
  border: 0;
}

@media (min-width: 320px) and (max-width: 640px) {
  .signup {
    background: #f4f5ee;
    padding-bottom: 50px;
  }
}

/*---------------------------------------
   SECTION:  THEFUTURE
-----------------------------------------*/

.about {
  background: url(../images/bg-1.jpg) no-repeat center fixed;
  background-size: cover;
}

.about .container {
  padding-top: 100px;
}

.about h4 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
}

.about p,
.about li,
.about strong {
  color: #fff;
  font-weight: 500;
}

.about strong {
  font-weight: bold;
}

.about ul {
  padding-left: 15px;
}

.about li {
  color: #fff;
  font-weight: 500;
}

.about li span {
  margin-left: -10px;
}

@media (min-width: 320px) and (max-width: 640px) {
  .about p,
  .about li {
    text-align: left;
  }
}


/*---------------------------------------
   SECTION:  FEATURES
-----------------------------------------*/
.features {
  background-color: rgb(252, 253, 248);
  /*background-color: #fff;*/
  overflow: hidden;
  min-height: 785px;
}

.features .feature {
  min-height: 785px;
  background-repeat: no-repeat;
}
.features .feature.bg0 {
  background-image: url(../images/feature-bg-0.jpg);
  background-position: bottom left;
}

.features .feature.bg1 {
  background-image: url(../images/feature-bg-1.jpg);
  background-position: bottom right;
}
.features .feature.bg2 {
  background-image: url(../images/feature-bg-2.jpg);
  background-position: bottom left;
}

.features .feature h4 {
  font-weight: 500;
}

.features .feature .image {
    width: 266px;
    height: 547px;
    margin: 20px auto;
    background: url(../images/screenshot-choose-your-sport.png);
}

.features .feature .image img {
    width: 241px;
    margin: 56px auto 0 auto;
    vertical-align: top;
}

.features .feature .message {
    font-size: 18px;
    font-style: italic;
    margin: 15px auto;
}

.features .feature .name {
    margin-top: 15px;
    font-weight: 400;
}

.features .feature .company-info {
    font-size: 12px;
}

.features .owl-controls {
  margin: -450px auto;
  width: 560px;
  position: relative; /*Fix blinks and unstability*/
}

.features .owl-theme .owl-controls .owl-buttons {
  /*overflow: hidden;*/
}

.features .owl-theme .owl-controls .owl-buttons div {
  width: 99px;
  height: 99px;
}

.features .owl-theme .owl-controls .owl-buttons div.owl-prev {
  float: left;
  background: url(../images/slider-arrow-left.png)
}

.features .owl-theme .owl-controls .owl-buttons div.owl-next {
  float: right;
  background: url(../images/slider-arrow-right.png)
}

@media (min-width: 320px) and (max-width: 640px) {

  .features .owl-controls {
    margin-top: -500px;
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .features .owl-theme .owl-controls .owl-buttons div {
    width: 40px;
    height: 40px;
    background-size: 100% !important;
  }
}

@media (min-width: 375px) and (max-width: 640px) { /*iphone6*/
 .features .owl-controls {
    margin-top: -500px;
    width: 370px;
    margin-left: 3px;
    margin-right: 5px;
  }
}
/*---------------------------------------
   SECTION:  BRIEF
-----------------------------------------*/

.app-brief {
    /*background: #FFFFFF;
    padding-top: 110px;
    padding-bottom: 60px;*/
}

.app-brief h2 {
    margin-bottom: 20px;
}

.app-brief .phone-image {
    max-width: 368px;
    margin: auto;
    margin-bottom: 150px;
}

.app-brief .phone-image img {
    width: 100%;
}

.app-brief .left-align {
    text-align: left;
    margin-bottom: 50px;
}

.app-brief .left-align p {
    display: block;
    float: none;
    /*margin-top: 50px;*/
}

.app-brief .left-align .feature-list {
    margin-top: 40px;
}

.app-brief .left-align .feature-list li {
    margin-bottom: 26px;
}

.app-brief .left-align .feature-list li i {
    margin-right: 10px;
    vertical-align: inherit;
}


/* VIDEO */

video {
    height: auto;
}

iframe,
embed,
object {
    max-width: 100%;
}

.video-container {
    width: 90%;
    background: transparent !important;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 40px;
}

.video {
    background: transparent !important;
}

/*.testimonials .owl-theme .owl-controls .owl-page span {
    background: #ffffff;
    border-radius: 50%;
}*/
/*
.testimonials .customNavigation a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*/

/*---------------------------------------
   SECTION:  TEAM
-----------------------------------------*/
.team {
  color: #fff;
  background: url(../images/bg-2.jpg) no-repeat center fixed;
  background-size: cover;
}

@media screen and (min-width: 992px) {
  .team .col-md-2.team-col {
    width: 19.666667%;
  }
}

.team .image {
  margin: 20px auto;
}

.team .image img {
  width: 100%;
  max-width: 148px;
}

.team h2 {
  text-transform: uppercase;
  font-weight: 200;
}

.team .name {
  text-transform: uppercase;
  font-weight: 900;
}

.team p {
  margin-top: 30px;
  margin-bottom: 50px;
  line-height: 25px
}


/*---------------------------------------
   SECTION:  PARTNERSHIPS
-----------------------------------------*/
.partnerships {
  min-height: 415px;
  background: rgb(252, 253, 248) url(../images/partnerships-bg.jpg) no-repeat bottom right;
}

/*---------------------------------------
   SECTION:  CONTACT
-----------------------------------------*/

.contact {
  color: #fff;
}

.contact .color-overlay {
  padding: 75px 0;
}

.contact a,
.contact a:hover,
.contact a:visited {
  display: block;
  color: #fff;
  margin-left: 102px;
  margin-top: 50px;
}

.contact .logo {
  margin-top: 55px;
}

.contact .icon {
  float: left;
  margin-top: 25px;
  border-radius: 50%;
  border: 2px solid #d7df23;
}

.contact .address {
  margin-top: 10px;
  margin-left: 102px;
}

@media (min-width: 320px) and (max-width: 640px) {

  .contact .color-overlay {
    padding-top: 20px;
  }

  .contact .logo {
    margin-top: 0;
  }
}

/*---------------------------------------
   SECTION:  SERVICES
-----------------------------------------*/

.services {
    padding-top: 80px;
    padding-bottom: 60px;
    background: #ffffff;
}

.services .single-service {
    padding-bottom: 60px;
}

.services .single-service .service-icon {
    font-size: 80px;
}

.services .single-service h3 {
    margin-top: 20px;
}



/*---------------------------------------
   SECTION:  SCREENSHOTS
-----------------------------------------*/

.screenshots {
    padding-top: 80px;
    padding-bottom: 120px;
}

.screenshots .shot {
    background: #FFFFFF;
    padding: 10px;
    margin: 13px;
    border-radius: 4px;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: block;
}

.screenshots .shot img {
    border-radius: 4px;
    width: 100%;
}

/*---------------------------------------
   SECTION:  PACKAGES | Added on version 1.7
-----------------------------------------*/

.packages {
    padding-top: 80px;
    padding-bottom: 60px;
    background: #ffffff;
}

.single-package {
    background: #F7F8FA;
    overflow: auto;
    border: 0px solid #161616;
    border-radius: 3px;
    margin-bottom: 60px;
}

.single-package .price {
    background: #FFFFFF;

}
.single-package .color-bg {
    background-color: !important;
}
.single-package .price h2 {
    color: #272727;
}

.single-package .price .color-bg h2 {
    color: #FFFFFF !important;
}

.single-package .price .sign {
    vertical-align: super;
    font-size: 20px;
}

.single-package .price .month {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.single-package .package-feature {
  margin-top: 25px;
  margin-bottom: 25px;
}

.single-package .package-feature > li {
  margin-top: 15px;
  margin-bottom: 15px;
}

.single-package .package-feature > li > span {
  margin-right: 7px;
}


/*---------------------------------------
   SECTION:  DOWNLOAD
-----------------------------------------*/

/*.download {
    color: #ffffff;
}

.download .color-overlay {
    padding-top: 110px;
    padding-bottom: 70px;
}

.download .download-container {
    padding-bottom: 80px;
}

.download .subscription-form-container {
    padding-bottom: 80px;
}

.download .subscription-form .input-box {
    height: 57px;
    padding-left: 20px;
    width: 320px;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #FFF;
    border: 2px solid #FFF;
}

.download .subscription-form .input-box:focus,
.download .subscription-form .input-box:active {
    color: #000;
    font-weight: 400;
}

.download .subscription-form .subscription-success,
.download .subscription-form .subscription-error {
    display: none;
}

.download h2 {
    margin-bottom: 30px;
}*/

/*---------------------------------------
   SECTION:  FOOTER
-----------------------------------------*/
/*footer {
    background: #FFFFFF;
}

footer .contact-box {
    margin-bottom: 78px;
}

footer .contact-box .contact-button {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: auto;
    position: relative;
    font-size: 30px;
    line-height: 60px;
    vertical-align: middle;
    margin-top: -40px;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 0px 3px #ffffff;
            box-shadow: 0px 0px 0px 3px #ffffff;
    -webkit-backface-visibility: hidden;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

footer .contact-box .contact-button:hover {
    color: #ffffff;
}

footer .contact-box .expanded-contact-form {
    margin-top: 40px;
    display: none;
}

footer .contact-box .expanded-contact-form .success,
footer .contact-box .expanded-contact-form .error {
    display: none;
}

footer .contact-box .expanded-contact-form .input-box {
    margin-bottom: 10px;
    margin-top: 10px;
    height: 50px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

footer .contact-box .expanded-contact-form .textarea-box {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

footer .contact-box .expanded-contact-form .textarea-box:active {
    color: #000;
}

footer .social-icons {
    margin-top: 30px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 50px;
}

footer .social-icons li {
    display: inline-block;
    margin: 5px;
}

footer .social-icons li a {
    font-size: 30px;
    color: #c2c2c2;
}

footer .copyright {
    color: #808080;
    padding-top: 10px;
    margin-bottom: 50px;
}